@model Person
@* <h1>@Model.FirstName @Model.LastName</h1> *@
<h1>Contact Page</h1>
<a href="/home">back</a>

@section footer_section {
    <p>Contact Support: 6563546234562345</p>
    @* most common use cases for this @section:-
            loading <scripts> into the _Layout.cshtml for a particular view
            modifying the navbar, sidebar or footer dynamically
    *@
}
