<div class="flex flex-full-size w-100">
    <div class="meme-card flex-3">
        <h1 class="text-center w-70">Meme Title</h1>
        <div class="meme-view">
            <img class="meme" src="sample-1.png" />
        </div>
    </div>
    <div class="flex-1 blue-back options">
        options for font etc.
    </div>
</div>
<div class="w-100 text-input">text input and save/edit/delete buttons etc</div>

