<div class="navbar">
    <div class="w-100"><a class="navbar-brand" href="/home">@ViewBag.appTitle</a></div>@* @ViewBag.Title *@
    <ul>
        <li><button data-target="notifications" id="button-notifications" type="button" class="button">Notifications</button></li>
        <li><button data-target="subscribe" id="button-subscription" type="button" class="button">Subscribe</button></li>
        <li><button data-target="donate" id="button-donate" type="button" class="button">Donate</button></li>
        <li><button data-target="login" id="button-login" type="button" class="button">Log-in</button></li>
    </ul>
</div>
<div class="navbar-partial"></div>
<script src="~/scripts/NavBarPartialScript.js"></script>