<div class="navbar">
    <div style="color:white;" class="w-100"><a style="width:60%" class="navbar-brand" href="/home"><img asp-append-version="true" style="width:50px" src="~/MemeryBankLogo.png"/></a></div>@* @ViewBag.Title *@
    <ul style="width:40%">
        <li><button data-target="notifications" id="button-notifications" type="button" class="button">Notifications</button></li>
        <li><button data-target="subscribe" id="button-subscription" type="button" class="button">Subscribe</button></li>
        <li><button data-target="donate" id="button-donate" type="button" class="button">Donate</button></li>
        <li><button data-target="login" id="button-login" type="button" class="button">Log-in</button></li>
    </ul>
</div>
<div class="navbar-partial"></div>
<script src="~/scripts/NavBarPartialScript.js"></script>