@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
    <div class="flex full-size-height w-100">
        <div class="flex-1 blue-back">SideBar</div>
        <div class="flex-3 white-back">
            @RenderBody()
        </div>
    </div>
