 <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/n26banktransaction/index">N26</a></li>
    <li><a href="/dkbbanktransaction/index">DKB</a></li>
    <li><a href="/calender/index">Calender</a></li>
    <li><a href="/choresanderrands/index">Chores/Errands</a></li>
    <li><a href="/shoppinglist/index">Shopping List</a></li>
    <li><a href="/memes">Memes</a></li>
    <li><a href="/merch">Merch</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/person/index">Persons</a></li>
 </ul>
